<div>
  <h2 align="center">Movies(via ViewChildren)</h2><br><br>
  <div class="col-sm-10 offset-3" *ngFor="let mov of movies" style="display: inline-flex;">
    <div class="col-sm-2">
      <button (click)="doFavourite(mov.id)">{{mov.favourite ? 'UnFavourite' : 'Favourite'}}</button>
    </div><br><br>
    <div class="col-sm-8">
      <app-movie-details-via-view-children #movieDetailComponents [movie]="mov" ></app-movie-details-via-view-children>
    </div>
  </div>
<!--  <button (click)="doFavourite2()">{{movies[0].favourite ? 'UnFavourite' : 'Favourite'}}</button>
  <app-movie-details #movieDetailComponents [movie]="movies[0]" ></app-movie-details>-->
</div>
